# dependencies
node_modules
.pnp
.pnp.js

# buildㅊㅁㄴㅊㅊ
dist
dist-ssr
*.local

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
*.log
.eslintcache

# vercel
.vercel

# pwa generated
dev-dist
